<div class="container mt-5">
<div class="card p-3">
<%= simple_form_for [ @restaurant, @review ] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, collection: Review::STARS %>
  <%= f.submit "Submit review", class: "btn btn-dark" %>
<% end %>
</div>
</div>